.tituloLeo{
    font: normal 45pt arial;
    color: rgb(190, 189, 189);
}
.tituloTec{
    font: bolder 50pt arial;
    color: gray;

}
h1{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blue;
}